<style>
    .btn-green {
        padding: 1em;
        text-align: center;
        color: #fff;
        background-color: #34A853;
        font-size: 2em;
        display: block;
    }
</style>
<p>Today's featured product is the Sprocket 9000.</p>
<p><a href="~/sprocket-9000" class="btn-green">Click here to view it.</a></p>